.container {
    margin: 36px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    width: 110px;
}

header div.menu-mobile {
    width: 30px;
}

/*------------------------------------------*/

header .menu-btn {
    width: 40px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1000;
    position: fixed;
    top: 80px;
    right: 30px;
}

header .menu-btn span {
    display: none;
    /*block*/
    height: 4px;
    background: #333;
    border-radius: 2px;
    transition: 0.3s;
}

/*Animação para virar X*/
header .menu-btn.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

header .menu-btn.active span:nth-child(2) {
    opacity: 0;
}

header .menu-btn.active span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
}


header .menu-items {
    width: auto;
    transition: right 0.3s;
}

header .menu-items ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

header .menu-items ul li {
    margin: 18px 16px;
}

header .menu-items ul li a {
    color: var(--color-primary);
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
}

header .menu-items.show {
    right: 0;
}

/*-------------------------------------------*/

main {
    margin-top: 180px;
}

section .banner {
    display: flex;
    justify-content: center;
}

section .banner img {
    max-width: 20vw;
}


section .banner {
    animation: show 0.8s ease-out forwards;
}


@keyframes show {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

main .title {
    font-size: 18px;
    margin: 18px 0px;
}


main .banner-details {
    margin: 12px;
    padding: 36px 2px 22px 8px;
    box-shadow: 2px 1px 3px #91c4e1;
    max-width: 600px;
}

.banner-services {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

main .banner-details .banner-info {
    display: flex;
    flex-direction: column;
}

main .banner-details .banner-title {
    text-align: center;
    color: var(--color-primary);
}

main .banner-info .banner-image {
    width: 160px;
    margin: 12px auto;
}

main .banner-info .banner-desc {
    text-justify: auto;
    text-align: left;
}

.button{
    background-color: rgb(88, 165, 216);
    cursor: pointer;
}

.button:active{
    background: #9accec;
}

footer {
    margin: 48px 0px;
    padding: 48px 0px;
    background-image: linear-gradient(to top, #00a1ff, #ffffff);
}

.social {
    display: flex;
    justify-content: space-between;
}

.media {
    display: flex;
    margin: 6px 2px;
}

.media .media-title {
    display: none;
}

.media .media-logo {
    width: 40px;
}

.called {
    max-width: 410px;
}

/*Estilização de formaulario*/
.called-item {
    padding: 6px 6px 6px 4px;
    max-width: 410px;
    margin: 6px 6px 6px 4px;
    border-radius: 4px;
    border: 1px solid #7b96a7;
    box-shadow: 0px 1px 2px #333;
}

/* Se a janela do navegador tiver 426 ou menos*/
@media only screen and (min-width: 100px) and (max-width: 426px) {

    .container {
        margin: 16px;
        padding: 2px;
    }

    header div.logo {
        width: 80px;
    }

    header .menu-btn {
        top: 26px;
    }

    header .menu-btn span {
        display: block;
        z-index: 1;
        background-color: #00a1ff;
    }

    header .menu-items {
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100%;
        background: #333;
        transition: right 0.3s;
        padding-top: 60px;
    }

    header .menu-items ul {
        display: block;
    }

    main {
        margin-top: 120px;
    }

    section .banner img {
        max-width: 50vw;
    }

    footer .container {
        display: flex;
        flex-direction: column;
    }

    footer .container .social {
        margin: 10px 0px 20px 0px;
    }

    footer .media {
        margin: 0px 8px;
        cursor: pointer;
    }

    footer p {
        text-align: center;
    }
}

/* 426 a 1024*/

@media only screen and (min-width: 426px) and (max-width: 768px) {

    .container {
        margin: 28px;
        padding: 2px;
    }

    header div.logo {
        width: 100px;
    }

    header .menu-btn {
        top: 40px;
    }

    header .menu-btn span {
        display: block;
        z-index: 1;
        background-color: #00a1ff;
    }

    header .menu-items {
        position: fixed;
        top: 0;
        right: -300px;
        width: 300px;
        height: 100%;
        background: #333;
        transition: right 0.3s;
        padding-top: 60px;

    }

    header .menu-items ul {
        display: block;
    }

    main {
        margin-top: 220px;
    }

    section .container {
        margin: 0px 12px;
    }

    section .banner img {
        max-width: 40vw;
    }


    footer .container {
        display: flex;
        flex-direction: column;
    }

    footer .container .social {
        margin: 10px 0px 20px 0px;
    }

    footer .media {
        margin: 0px 8px;
        cursor: pointer;
    }

    footer p {
        text-align: center;
    }
}


/*Icone suspenso do whataapp*/

.contact-whatsapp {
    z-index: 1;
    position: fixed;
    top: 650px;
    right: 20px;
    width: 60px;
    cursor: pointer;
}

.contact-whatsapp img:hover {
    border-radius: 50%;
    transform: scale(1.1);
    transition: 0.6s;
}

.contact-whatsapp img {
    transition: 0.6s;
}